/* General Styles */
* {
	margin: 0;
	padding: 0;
	align: center;
}

html {
	height: 100%;
}

body {
    background-image: url("smile.gif");
	background-color: gold;
	height: 100%;
	align-items: center;
	text-align: center;
}

h1 {
	color:black;
	font-size: 500%;
	font-family: Verdana;
	text-align: center;
}

p {
	color: darkblue;
	font-size:200%;
	
}

#container {
	color:aquamarine;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3em;
}
