/* General Styles */
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
<<<<<<< HEAD
<<<<<<< Updated upstream
    background-image: url('smile.gif');
=======
    background-image: url("smile.gif");
>>>>>>> c06432f3cf92c15951b94e8ea28c98666828fff0
	background-color: gold;
=======
    background-image: url("backgound2.gif");

   
    
    
    background-color: gold;
>>>>>>> Stashed changes
	height: 100%;
	align-items: center;
	text-align: center;
	display: center;
    flex-direction: column;
	align-content: center;
}

body * {
	flex: 1;
}

h1 {
<<<<<<< HEAD
<<<<<<< Updated upstream
	color:black;
	font-size: 3em;
=======
/* 	margin-top: 5%; */
	color:pink;
	font-size: 5em;
	font-family: Verdana;
>>>>>>> Stashed changes
=======
/* 	margin-top: 5%; */
	color:black;
	font-size: 5em;
	font-family: Verdana;
>>>>>>> c06432f3cf92c15951b94e8ea28c98666828fff0
	text-align: center;
}

p {
	color: darkblue;
	font-size:2em;
}

/* button { */
/* 	margin-bottom: 5%; */
    /* background: url("button1.png");
	height: 5%;
	font-size: 6em;
	background: none;
	border: none;
	outline: none;
<<<<<<< HEAD
<<<<<<< Updated upstream
	transform-origin: 50% 50%;
	transition: transform .5s;
}

button:hover {
	transform: scale(1.2);
=======
	color: pink
>>>>>>> Stashed changes
=======
} */

/* form input[type=submit] {
	background : url("button1.png") no-repeat center center;
	width : 115px;
	height :52px;
	border : none;
	color : transparent;
} */

a#joke_button {
    max-width: 0%;
    border: 0;
    height: 120px;
    left: 0px;
    right: 0px;
    width: 0px;
    /* width : 10px; */
}
a#joke_button:visited img, a#joke_button:active img {
    /* background-image: url(button1.png); */
    left: 0px;
    right: 0px;
    
>>>>>>> c06432f3cf92c15951b94e8ea28c98666828fff0
}

#container {
	color:aquamarine;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3em;
}
